<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/public/css/css.css" />
</head>
<body>
    
    <div id="app">
        <header id="header">
            <a href="/" id="logo"></a>
    
            {% include "nav.html" %}
    
            <div id="user">
                <a href="">登录</a>
                <a href="">注册</a>
            </div>
        </header>
    
        <div id="main">
            
            <h1>{{item.name}}</h1>
            
            <hr>

            <img src="/public/items/images/{{item.cover}}" alt="{{item.name}}">
    
        </div>
    </div>

</body>
</html>