<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/public/css/css.css" />
</head>
<body>
    
    <header id="header">
        <a href="/" id="logo"></a>

        {% include "nav.html" %}

        <div id="user">
            <a href="">登录</a>
            <a href="">注册</a>
        </div>
    </header>

    <div id="main">
        
       <div id="login" class="panel">
           <h2>添加人员信息</h2>
           <form action="/register" method="post">
                <div class="form-item">
                   
                </div>
                <div class="form-item">
                    <label>
                        <span class="txt">ID：</span>
                        <input type="text" name="id" class="form-input">
                    </label>
                </div>
                <div class="form-item">
                    <label>
                        <span class="txt">姓名：</span>
                        <input type="text" name="username" class="form-input">
                    </label>
                </div>
                <div class="form-item">
                    <label>
                        <span class="txt">IDcardNo：</span>
                        <input type="text" name="IDcardNo" class="form-input">
                    </label>
                </div>
              
             
                <div class="form-item">
                    <label>
                        <span class="txt"></span>
                        <button class="form-button primary">添加</button>
                    </label>
                </div>
           </form>
       </div>    

    </div>

</body>
</html>